@import "tailwindcss";

/* فعال‌سازی حالت تاریک کلاس‌محور در نسخه ۴ */
/* @theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
} */

/* این بخش به تیلویند می‌گوید که اگر کلاس dark وجود داشت، استایل‌ها را اعمال کند */
@variant dark (&:where(.dark, .dark *));