@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  @keyframes float {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  --animate-floating: float 3s ease-in-out infinite;
}

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-500 ease-in-out;
  }

  .dark body {
    @apply bg-gray-950 text-gray-100;
  }
}